.grid-container {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  background-color: #228B22	;
  padding: 6px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.678);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
#container {
  height: 400px;
  width: 600px;
  outline: 5px solid black;
  position: relative;
}

#guy {
  position: absolute;
  background-color: blue;
  left: 0;
  font-size: 10px;
  color: #fff;
  padding: 20px;

}
