.grid-container {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
body {
	background-color : #688271 ;
}
#head_section {
	height : 80px ;
	width : 100% ;
}
#north_west {
	width : 14.66% ;
	position : absolute ;
	left : 1% ;
}
#main_title_image{
	width : 100% ;
}
#north_center{
	width : 64.66% ;
	position : absolute ;
	left : 17.66% ;
	top : 1% ;
}
#north_east{
	width : 14.66% ;
	position : absolute ;
	right : 1% ;
	top : 1% ;
}
#body_section {
	width : 100% ;
}
#west {
	width : 14.66% ;
	position : absolute ;
	left : 1% ;
	top : 80px + 1% ;
}
#center{
	width : 64.66% ;
	position : absolute ;
	left : 17.66% ;
	top : 80px + 1%;
}
#east{
	width : 14.66% ;
	position : absolute ;
	right : 1% ;
	top : 80px ;
}
#foot_section {
	height : 80px ;
	width : 100% ;
}
#south_west {
	width : 14.66% ;
	position : absolute ;
	left : 1% ;
	bottom : 1%;
}
#south_center{
	width : 64.66% ;
	position : absolute ;
	left : 17.66% ;
	bottom : 1% ;
}
#south_east{
	width : 14.66% ;
	position : absolute ;
	right : 1% ;
	bottom : 1% ;
}